nav {
	height: 3rem;
	line-height: 3rem;
	background-color: black;
	color: white;
	/*display: inline;*/
	/*text-decoration-color: white;*/
	/*text-decoration: none;*/

}

ul {
	display: inline;
	vertical-align: center;
}
li a{
	color: white;
	text-decoration: none;
	/*width:4rem;*/
}

#first-nav, a {
	/*width:4rem;*/
	margin-left: 12rem;

}