body {
    background-color: rgb(240, 241, 243);
    height:200px;
    width:100%;
}
#nameheader{
    padding-top: 20px;
    padding-bottom: 2px;
    margin:auot;
    font-family: 'Anton', sans-serif;
    font-size: 90px;
    height: 90px;
    background-color: lightsteelblue;
    width: 100%;
    clear:both;

}
#namesubheader {
    height:20px;
    background-color: slategrey;
    padding: 22px 200px 0px 2px;
    margin:auto;
    font-size: 16px;
    font-family: 'Anton', sans-serif;
    width: 100%;
    clear:both;
}
#navbar {
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    margin:0px;
    height: 100px;
    width:100%;
    background-color: blue;
   

}
.link {
    width: 200px;
    height: 50px;
    list-style: none;
    text-align: center;
    text-decoration: none;
    float: left;
     border-right-color: black;

}
a.hover {
    color: gray;
    text-decoration: none;
}

.portfoliosec{
    background-color: darkslategray;
    height: 300px;
    width: 300px;
    border-radius: 500%;
    text-decoration: none;
    text-align: center;
    clear:both;
}

article{
    height:300px;
    width:150px;
    float: right;
    font-family: 'Anton', sans-serif;
    clear:both;
    font-color: black;
    background-color: aqua;

}
footer{
    height: 30px;
    width:100%;
    clear:both;
    background-color: slategrey;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    font-color:black;
    padding: 5px 80px 0px 2px;
}
span{
    float:right;
}