body {
    /*width: 100%;*/
    margin: 0;
    /*height: auto;*/
    /*position: fixed;*/
    background: url(images/Old-Metal-Textured-Background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*html {
    background: url(images/Old-Metal-Textured-Background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     /*position: fixed;*/
/*}*/


header {
    height: 13rem;
    width: 90rem;
  /*  position: fixed;nope*/
}

h1#nameheader {
    font-family: 'Poiret One', cursive, sans-serif;
    font-size: 7rem;
    height: 120px;
    padding-left: 2rem;
    width: 90rem;
    background-color: rgba(43,43,43,1);
    border-bottom: white solid 2px;
    color: rgba(239, 239, 239,1);
    padding-top: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    display: block;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    font-family: 'Poiret One', cursive, sans-serif;
    width: 100%;
}

/*#namesubheader{
    /*font-size: 14px;*/
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
    /*padding-top: 2px;*/
    /*!*background: url(Old-Metal-Textured-Background.jpg);*!*/
     /*!*background-color: rgba(50, 100, 127, .3);*!*/
    /*font-family: 'Poiret One', cursive, sans-serif;*/
/*}*/

/*The circle pane flipping code
________________________________________________________________
*/
/*entire container, keeps perspective*/
.flip-container { 
    /*position:fixed;nope messed up footer*/ 
    perspective: 1000px; 
 
} 
 
 
/*flips the circle pane when hovered*/ 
.flip-container:hover .flipper, .flip-container.hover .flipper { 
    transform: rotateY(180deg); 
} 
 
 
.flip-container, .front, .back { 
    width:300px; 
    height:300px; 
} 
 
 
/*flip speed*/ 
.flipper { 
    transition: 0.6s; 
    transform-style: preserve-3d; 
    position: relative; 
} 
 
 
/*hides back pane during flip/spin*/ 
.front, .back { 
    backface-visibility: hidden; 
    position: absolute; 
    top:0; 
    left: 0; 
} 
 
 
/*front circle pane is stacked on back*/ 
.front { 
    z-index: 2; 
    transform: rotateY(0deg); 
} 
 
 
/*back, initially hidden pane*/ 
.back { 
    transform: rotateY(180deg); 
} 

    /*END OF FLIPPING CODE*/
/*__________________________________________________*/


div.maincontent {
    height:26rem;
    margin-top: 2rem;
    /*position:fixed;nope messed up footer*/
    display: inline-flex;
    padding-left: .75rem;
}

a {
    display: inline-block;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    /*padding-top: 10px;*/
    text-decoration: none;
    font-family: 'Poiret One', cursive, sans-serif;
    width: 15rem;
    letter-spacing: .2rem;
    /*float: right;*/
    /*position:fixed;messed up the links*/
}

.info {
    background: rgba(255,255, 255, 0.2);
    height: 300px;
    width: 300px;
    border-radius: 500%;
    list-style: none;
    text-decoration: none;
    text-align: center;
    display: block;
   /* margin: 1.5rem;*/
    font-family: 'Poiret One', cursive, sans-serif;
    color: white;
    float: left;
}

.back {
    background: rgba(255,255, 255, 0.2);
    height: 300px;
    width: 300px;
    border-radius: 500%;
    list-style: none;
    text-decoration: none;
    text-align: center;
    display: block;
    /*margin: 1.5rem;*/
    font-family: 'Poiret One', cursive, sans-serif;
    color: white;
    float: left; 
}

.backsidelink {
    width: 15rem;
    padding-top: 6rem;
    padding-left: 2rem;
}

h3 section#one{
    width: 30%;
}

.infosection {
    width: 15rem;
    padding-top: 6.5rem;
    padding-left: 2rem;
}

footer{
    height: 29px;
    width: 90rem;
    margin: 0;
    clear:both;
    background-color: rgba(43,43,43,1);
    font-family: 'Poiret One', cursive, sans-serif;
    border-top: 4px double white;
    padding-top: 2rem;
    padding-bottom: 1.75rem;
}

a#footer {
    margin-left: -2%;
    float: left;
    padding: 0;
}

#socialmedia {
    display: inline;
}

a.soc-med-anchors {
    width: 3rem;
    display: inline;
    float: left;
    height: 2rem;
}

span{
    padding-top: 1rem;
    float:right;
    margin-right: 2%;
    color: white;
}







/*ABOUT ME PAGE
_____________________________________________________________________________________*/

div#aboutme-container {
    background: rgba(255,255, 255, 0.2);
    width: 94%;
    display: inline-flex;
    border-radius: 15px;
    margin-top: 3rem;
    margin-bottom: -3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    }

p {
    color: white;
    width: 43rem;
    font-size: xx-large;
    letter-spacing: .25rem;
    margin-left: 5rem;
    padding-top: 1rem;
    margin-right: 0rem;
    display: inline;  
}

div#slide-container {
     /*   display: inline;
    width: 40rem;*/
}

.mySlides {
    /*float: right;
    border-radius: 40px;*/

}

img.mySlides {
    width: 320px;
    height: 427px;
    /*display: block;*/
    margin-left: 10rem;
    margin-top: 3rem;
    margin-right: -10.5rem;
    float: right;
    border-radius: 40px;
}

a.floating-button.left {
    height: 1rem;
    margin-top: 30rem;
    margin-left: -14rem;
    font-size: 2rem;
}

a.floating-button.right {
    height: 1rem;
    margin-top: 30rem;
   /* margin-left: 6rem;*/
    font-size: 2rem;
}

#about-footer {
    margin-top: 7rem;
}








/*WHAT I AM WORKING ON PAGE
________________________________________________________________________*/

.working-on {
    text-align: center;
    margin-top: 2rem;
    color:white;
    font-family: 'Poiret One', cursive, sans-serif;
}

div#workingonmaincontent.maincontent {
    display: inline;
}

.siterecreation {
    height: 340px;
    width: 600px;
}

section#watch-recreation.working-on {
    display: inline-flex;
    margin-left: 5rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

div#recreated-site-title {
    margin-top: 22rem;
    margin-left: -23rem;
}


img#actual-site-img.siterecreation {
    margin-left: 20rem;
}

div#actual-site-title {
    margin-top: 22rem;
    margin-left: -23rem;
}
/*MEDIA QUERY FOR PHONE*/
/*______________________________________________________________________*/
/*indexpage*/
@media (max-width: 480px) { 

    html {
    width: 100%;
    position: ;
    }
    body {
        width:100%;
      /*  position: fixed;
        height: auto;*/
    }

    header {
        width:48rem;
        /*position: fixed;*/
    }

    h1#nameheader {
        width: 48rem;
        font-size: 5.75rem;
        padding-left: .75rem;
    }

    nav {
        width: 29.8rem;
    }

    a {
        margin-right: 1rem;
    }

    #aboutmea {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #workingona {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    div.maincontent {
        display: inline;
    }

    div.flip-container {
    padding-left: 4rem;
    }

     footer {
        width: 48rem;
     }


     span {
        float: left;
        margin-left: 9rem;
     }


/*ABOUT ME PAGE*/

div#aboutme-container {
    background: rgba(255,255, 255, 0.2);
    width: 80%;
    display: inline-block;
    border-radius: 15px;
    margin-top: 3rem;
    margin-bottom: -3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

p{
    color: white;
    width:158rem;
    font-size: 1.5rem;
    letter-spacing: .25rem;
    /*margin-left: 5rem;*/
   /* padding-top: 1rem;*/
    /*margin-right: 0rem;*/
    display: inline;  
}

div#slide-container {
        display: inline;
    width: 40rem;
}

.mySlides {
    float: right;
    border-radius: 40px;

}

img.mySlides {
    width: 320px;
    height: 427px;
    /*display: block;
   /* margin-left: 10rem;*/
    margin-top: 2rem;
    margin-right: 2.5rem;
}

a.floating-button.left {
    height: 1rem;
    margin-top: 0rem;
    margin-left: -3rem;
    font-size: 2rem;
    float:left;

}

a.floating-button.right {
    height: 1rem;
    margin-top: -1.5rem;
    margin-left: 10rem;
    font-size: 2rem;
    float: left;
}

#about-footer {
    margin-top: 7rem;
}



/*WHAT IM WORKING ON
____________________________________________________________*/

.working-on {
    text-align: center;
    margin-top: 2rem;
    color:white;
    font-family: 'Poiret One', cursive, sans-serif;
}

.siterecreation {
    height: 240px;
    width: 451px;
}

}



/*@media (min-width: 720px) { */

/*header {
        width:46rem;
    }

    nav {
        width:48rem;
    }

    a {
        width: 11rem;
        margin-right: 1rem;
    }

    div.flip-container {
        padding-left: 12rem;
    }

     footer {
        width: 48rem;
     }

     span {
        float: left;
        margin-left: 24rem;
     }*/


/*aboutme page*/
/*
div#aboutme-container {
        background: rgba(255,255, 255, 0.2);
        width: 86%;
        display: inline-block;
        border-radius: 15px;
        margin-top: 3rem;
        margin-bottom: -3rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding-left: 1.25rem;
        padding-right: 1.5rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }*/
    
   /* p{
        color: white;
        width:158rem;
        font-size: 1.5rem;
        letter-spacing: .25rem;
        margin-left: 5rem;
        padding-top: 1rem;
        margin-right: 0rem;
        display: inline;  
    }

    div#slide-container {
        display: inline;
        width: 40rem;
   }

    .mySlides {
        float: right;
        border-radius: 40px;

    }*/

/*    img.mySlides {
        width: 320px;
        height: 427px;
        margin-top: 3rem;
        margin-right: 9.5rem;
    }

    a.floating-button.left {
        height: 0rem;
        margin-top: 0rem;
        margin-left: 7rem;
        font-size: 2rem;
        float:left;

    }

    a.floating-button.right {
        height: 1rem;
        margin-top: -0.5rem;
        margin-left: 10rem;
        font-size: 2rem;
        float: right;
        margin-right: 7rem;
    }

    #about-footer {
        margin-top: 7rem;
    }*/



/*WHAT IM WORKING ON
____________________________________________________________*/

/*    .working-on {
        text-align: center;
        margin-top: 2rem;
        color:white;
        font-family: 'Poiret One', cursive, sans-serif;
    }

    .siterecreation {
        height: 240px;
        width: 451px;
    }


}*/









